<!doctype html>
<html ng-app>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
</head>
<body ng-controller="Ctrl">
<script src="http://192.168.102.66:8080/socket.io/socket.io.js"></script>
<script src="chatConnector.js"></script>
<script>


  var chat = new ChatConnector("http://192.168.102.66:8080");

  var username=prompt("Please enter your name:");
  chat.login(username);

  var globalscope;

</script>
<script>

function Ctrl($scope) {
  globalscope = $scope;
  $scope.messages = '';
  $scope.joinedRooms = 'None';
  $scope.usersInRoom = {};

  chat.handleAllRooms(function (rooms){
  	console.log("all the rooms");
  	console.log(rooms);
        $scope.$apply(function () {
          $scope.rooms = rooms;
        });
  });

  chat.handleJoinedRooms(function (rooms){
    console.log("joined rooms");
    console.log(rooms);
    $scope.joinedRooms = rooms;
  });

  chat.handleUsersInRoom(function (roomUsers){
    console.log("users in room");
    console.log(roomUsers);
    room = roomUsers.room;
    $scope.$apply(function () {
      $scope.usersInRoom[room] = roomUsers.users;
    });
  });
  chat.handleReceiveMessage(function (message){
  	console.log("received message");
  	console.log(message);
    $scope.$apply(function () {
      $scope.messages += '<i>(' + message.room + ')</i> <b>' + message.sender + ':</b> ' + message.message + '<br>';
    });
  });
  
  $scope.joinRoom = function(room) {
    console.log('joinRoom:' + room);
    chat.joinRoom(room);
    $scope.lastJoinedRoom = room;
  };

  $scope.sendMessage = function() {
    element = document.getElementById("chatmessage");
    msg = element.value;
    chat.sendMessage($scope.lastJoinedRoom, msg);
    element.value = "";
  };

  $scope.addRoom = function() {
    newRoom = document.getElementById("newRoom");
    $scope.joinRoom(newRoom.value);
    newRoom.value = "";
  };

}
</script>

<h3>Rooms: {{rooms}}</h3>
<ul>
  <li ng-repeat="room in rooms">
    <a style="cursor:pointer; color: blue;" ng-click="joinRoom(room)"><u>{{room}}</u></a>
    <span ng-bind="usersInRoom[room]">(unknown)</span>
  </li>
</ul>
<span><b>Add new room:</b><input type="text" id="newRoom"></input><button ng-click="addRoom()">Add</button></span>
<br><hr>
<span><b>Joined Rooms: </b></span><span ng-bind="joinedRooms"></span>
<table>
  <tr><td>
<div style="width: 400px; height: 200px; background-color: #e0e0e0; border: 1px solid black;" ng-bind-html-unsafe="messages">
</div>
</td><td valign="top">
<textarea id="chatmessage" width="100" height="50"></textarea>
<br>
<button ng-click="sendMessage()">Send!</button>
</td>
</tr></table>
</body>
</html>
